<!Doctype html>
<html>
    <head>
        <title>{{application_name}}</title>
    </head>
    {% if acc_name %}
    <h1>Hello {{acc_name}}! </h1>
    {%endif%}
    <p>Drop here a comment about the situation:</p>
    <div style="border: 1px solid #ddd; padding: 15px;">
        <form method="POST" enctype="multipart/form-data">
        <div style="display: flex; margin: 0px;">
            <label style="width: 100px;">User Name:</label>
            <input type="text" name="account" value="{{acc_name}}">
        </div>
        
        <div style="display: flex; margin: 0px;">
            <label style="width: 100px;">Hashtags:</label>
            <input type="text" name="hashtags" value="{{hasht}}">
        </div>
        
        <div style="display: flex; margin: 0px; align-items: center;">
            <label style="width: 100px;">Comment:</label>
            <textarea name="comments" style="width: 500px; height: 100px;">{{comms}}</textarea>
        </div>
        
        <div>
            {{form.hidden_tag()}}
            {{form.photo(class="form-control")}}
        </div>

        <input style="background:silver; border-radius: 8px;" type="submit" name="action" value="Send Comment">
        </form>
    </div>

    <h2>Search Comments:</h2>
    <div style="border: 1px solid #ddd; padding: 15px;">
        <form method="POST" action='/search'> 
            <div style="display: flex; margin: 0px;">
                <label style="width: 100px;">Enter Text:</label>
                <input type="text" name="searchstr">
            </div>
            <div style="display: flex; margin: 0px;">
                <label style="width: 100px;">Author:</label>
                <input type="text" name="authorname" value="{{auth}}">
            </div>

            <input style="background:silver; border-radius: 8px;" type="submit" value="Search">
        </form>
    </div>

    <h2>Recent Posts:</h2>
    {%for comment in comm_data%}
    <div style="display: flex; column-gap: 10px;">
        <div class ="left-info" style="border: 1px solid #ddd; padding: 15px; margin-bottom: 10px; border-radius: 8px;">
            {% if comment["image"] %}
            <div>
                <img src="{{comment['image']}}" style="width: 400px;">
            </div>
            {% endif %}
            <div class="comment" style="display: flex; column-gap: 30px;">
                <div class="left-info" style="width: 200px;">
                    <div class="username"><b>{{comment["username"]}}</b></div>
                    <div style="color:gray" class="timestamp">{{comment["time"]}}</div>
                </div>
                <div class="right-content">
                    <div class="comment-text">{{comment["comment"]}}</div>
                    <div style="color:blue" class="hashtags">{{comment["hashtags"]}}</div>
                </div>
                <div style="color: red;">
                    <p>REPLY</p>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</html>
